@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 320px) and (max-width: 639px) {
  .container {
    max-width: 100%;
    min-width: 320px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
